@page
@model Lab4.Pages.Advertisement.Category.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categories.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categories.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categories.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categories.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Categories.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
